.overlay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 1;
}

.article-cat {
    background-color: #4db2ec;
    padding: 5px 10px;
    font-size: small;
    border-radius: 2px;
}